
/* GENERAL SETTINGS*/
html { font-size: 62.5%; } 

body {
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	fill: #7A7A7A;
	text-align: center;
}

/* HEADINGS */
.title {
  font-size: 2.5rem;
  fill: #4F4F4F;
  font-weight: 300;
  text-anchor: middle;
}
.subtitle {
  font-size: 1.6rem;
  fill: #AAAAAA;
  font-weight: 300;
  text-anchor: middle;
}
.credit {
    font-size: 1.2rem;
    fill: #AAAAAA;
    font-weight: 400;
}
.credit a{
	color:#AAAAAA;
}

.activeVariant {
	font-weight:600;
	color: #4F4F4F;
}



/* DROPDOWN MENU */
.controls {
	display:inline-block;
}
.dropdiv {
	display:inline-block;	
	background-color:transparent;
}

.dropbtn {
	display:inline-block;
	background-color: transparent;
	font-size:1.3rem;
	font-weight:300;
	text-anchor:middle;
	fill:#4F4F4F;
	border:none;
    cursor: pointer;
}
.menu-icon {
	width: 12px;
	height:12px;
}
.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    text-align:left;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #e1e1e1;
}

/* Show the dropdown menu on hover */
.dropdiv:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdiv:hover .dropbtn {
    font-weight:600;
}